Django==3.2.15
django-cors-headers==3.10.1
# django-fancybox==0.1.5
django-groupadmin-users==0.3.4
# django-import-export==2.8.0
django-loginas==0.3.10
# django-model-utils==4.0.0
# django-oauth-toolkit==1.3.2
-e git+https://github.com/Microdisseny/django-theme-microdisseny.git#egg=django_theme_microdisseny
# -e git+https://github.com/Microdisseny/django-quasar.git@746a6c08a0a7bceb7e23f229bb21dfd6928cc2f9#egg=django_quasar
# -e git+https://github.com/Microdisseny/django-vuejs.git@be758d4b0f12c0bf1e625b2f571d1e38e00519c0#egg=django_vuejs
# djangorestframework==3.12.1
# drf-ujson2==1.6.1
# easy-thumbnails==2.7
psycopg2==2.8.6 --no-binary psycopg2
# django-sslify==0.2.7
# sentry==20.8.0
